body {
    font-family: 'News Cycle', sans-serif;
    background: white url("images/background.gif") no-repeat right bottom;
}

.here:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: -20;
    bottom: -40;
    left: 50%;
    border-left: 2px solid #f4d942;
    transform: translate(-50%);
}

.page-header {
    background-color: #f4d942;
    margin-top: 0;
    margin-left: 0;
    padding: 20px 20px 20px 55px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin: auto;
    width: 50%;
}

h1, h2, h3, h4 {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
}

.date {
    color: #000;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000;
    float: right;
    font-size: 14pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000;
}

.footer {
    background-color: #f4d942;
}

.footer p {
    margin-top: 5px;
    margin-left: 55px;
}


@media only screen and (max-width: 500px) {
    .content {
        width: 90%;
    }
    h1, .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        font-size: 18pt;
    }
    .page-header {
        padding-left: 20px;
    }
    .footer p {
        margin-left: 10px;
}
}